.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  z-index: 1001;
}
.popup-image{
  width: 100%;
  display: flex;
  justify-content: center;

}
.popup-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.popup-text {
  background-color: rgb(117, 0, 0);
  border-radius: 15px;
  font-size: 1rem;
  color: #f7ff01;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding: 20px;
  text-align: center;
  line-height: 1.4;
}
.python-img  {
  height: 300px;
}

.signup-button {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color:  #30a702;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.close-button:hover {
  color: #333;
}