.mainDiv{
    background-color: #1c1c1c;
    height: 90vh;
    width: 85vw;
    margin: 10vh 0 0 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 20vh;
    width: 20vw;
    background-color: #2a2a2a;
    border-radius: 8px;

}